In [1]:
import xarray as xr
import numpy as np
import pandas as pd
import cartopy.crs as ccrs
import matplotlib.pyplot as plt

In [2]:
ds_cesm2 = xr.open_dataset('CESM2_historical_r1i1p1f1_Omon_tos_gr_z34.nc').rename({'tos':'sst'})
ds_cesm2['time']=pd.to_datetime([t.strftime('%Y-%m') for t in ds_cesm2.time.values])

In [3]:
ds_cesmc=xr.open_dataset('global_Control_TS_degC_monthly.nc').sel(lat=slice(-5,5),lon=slice(190,240)).rename({'TS':'sst'})
gb_cesmc = ds_cesmc.sst.groupby('time.month')
ds_ac = gb_cesmc - gb_cesmc.mean(dim='time')
index3c = ds_ac.mean(dim=['lon', 'lat'])
index34c=index3c.rolling(time=3, center=True).mean()
dscesmc_NDJ=index34c.sel(time=index34c.time.dt.month.isin([12])).reset_coords('month', drop=True).assign_coords(time=range(2000))

In [4]:
ds_NRO=xr.open_dataset('NRO.nc')[['Nino34']].rename({'Nino34':'sst'}).rolling(time=3, center=True).mean()
ds_nroNDJ= ds_NRO.sel(time=ds_NRO.time.dt.month.isin([12])).assign_coords(time=range(6600)).isel(member=0).drop('member')

C:\Users\fvcas\miniforge3\envs\bltr\Lib\site-packages\xarray\coding\times.py:724: SerializationWarning: Unable to decode time axis into full numpy.datetime64 objects, continuing using cftime.datetime objects instead, reason: dates out of range
  dtype = _decode_cf_datetime_dtype(data, units, calendar, self.use_cftime)
C:\Users\fvcas\miniforge3\envs\bltr\Lib\site-packages\xarray\core\indexing.py:557: SerializationWarning: Unable to decode time axis into full numpy.datetime64 objects, continuing using cftime.datetime objects instead, reason: dates out of range
  array = array.get_duck_array()

In [5]:
ds_gfdl = xr.open_dataset('GFDL_CM4_historical_r1i1p1f1_Omon_tos_gr_z34.nc').rename({'tos':'sst'})
ds_gfdl['time']=pd.to_datetime([t.strftime('%Y-%m') for t in ds_gfdl.time.values])

In [6]:
#xr.open_dataset('nino34_HadISST_ZC_INC.nc')['ZC'].to_dataset().assign_coords(Tc=range(999))#.rolling(Tc=154, center=True).construct('tmp')

In [7]:
ds_xro=xr.open_dataset('XRO_sim.nc')[['Nino34']].rename({'Nino34':'sst'}).rolling(time=3, center=True).mean()#.assign_coords(time=range(79200))
ds_xroNDJ= ds_xro.sel(time=ds_xro.time.dt.month.isin([12])).assign_coords(time=range(6600))

C:\Users\fvcas\miniforge3\envs\bltr\Lib\site-packages\xarray\coding\times.py:724: SerializationWarning: Unable to decode time axis into full numpy.datetime64 objects, continuing using cftime.datetime objects instead, reason: dates out of range
  dtype = _decode_cf_datetime_dtype(data, units, calendar, self.use_cftime)
C:\Users\fvcas\miniforge3\envs\bltr\Lib\site-packages\xarray\core\indexing.py:557: SerializationWarning: Unable to decode time axis into full numpy.datetime64 objects, continuing using cftime.datetime objects instead, reason: dates out of range
  array = array.get_duck_array()

In [8]:
ds_xroc=xr.open_dataset('XRO_ac1_full_basin_hvside_B_True.nc')[['Nino34']].rename({'Nino34':'sst'}).rolling(time=3, center=True).mean()#.assign_coords(time=range(79200))
ds_xrocNDJ= ds_xroc.sel(time=ds_xroc.time.dt.month.isin([12])).assign_coords(time=range(6600)).isel(member=0).drop('member')

C:\Users\fvcas\miniforge3\envs\bltr\Lib\site-packages\xarray\coding\times.py:724: SerializationWarning: Unable to decode time axis into full numpy.datetime64 objects, continuing using cftime.datetime objects instead, reason: dates out of range
  dtype = _decode_cf_datetime_dtype(data, units, calendar, self.use_cftime)
C:\Users\fvcas\miniforge3\envs\bltr\Lib\site-packages\xarray\core\indexing.py:557: SerializationWarning: Unable to decode time axis into full numpy.datetime64 objects, continuing using cftime.datetime objects instead, reason: dates out of range
  array = array.get_duck_array()

In [9]:
ds_xrocT301=xr.open_dataset('XRO_ac1_full_basin_hvside_B_True_with_T3_01.nc')[['Nino34']].rename({'Nino34':'sst'}).rolling(time=3, center=True).mean()#.assign_coords(time=range(79200))
ds_xrocT301NDJ= ds_xrocT301.sel(time=ds_xrocT301.time.dt.month.isin([12])).assign_coords(time=range(6600)).isel(member=0).drop('member')

C:\Users\fvcas\miniforge3\envs\bltr\Lib\site-packages\xarray\coding\times.py:724: SerializationWarning: Unable to decode time axis into full numpy.datetime64 objects, continuing using cftime.datetime objects instead, reason: dates out of range
  dtype = _decode_cf_datetime_dtype(data, units, calendar, self.use_cftime)
C:\Users\fvcas\miniforge3\envs\bltr\Lib\site-packages\xarray\core\indexing.py:557: SerializationWarning: Unable to decode time axis into full numpy.datetime64 objects, continuing using cftime.datetime objects instead, reason: dates out of range
  array = array.get_duck_array()

In [10]:
ds_had = xr.open_dataset('nino34_HadISST_ZC_INC.nc')['HadISST']
ds_ZC = xr.open_dataset('nino34_HadISST_ZC_INC.nc')['ZC']
ds_INC = xr.open_dataset('nino34_HadISST_ZC_INC.nc')['INC']

In [11]:
ds_FLOR = xr.open_dataset('FLOR.nc')

In [12]:
def class_events_NDJ34(ds,name):
    ## It's manly used with CESM2_Historical y GFDL_Historical (a.k.a FLOR_Historical)
    
    gb = ds.sst.groupby('time.month')
    ds_a = gb - gb.mean(dim='time')
    index3 = ds_a.mean(dim=['lon', 'lat'])
    index34=index3.rolling(time=3, center=True).mean()
    index34_NDJ=index34.sel(time=index34.time.dt.month.isin([12])).reset_coords('month', drop=True)
    # std_dev = index34_NDJ.std()
    # norm_index34_NDJ = np.round(index34_NDJ/std_dev,2)

    df=index34_NDJ.to_dataframe().reset_index()

    df['Source'] = name
    df['Year'] = df['time'].dt.year
    df['Preceeding'] = df['sst'].shift(1)
    df['W1'] = df['sst'].shift(0)
    df['W2'] = df['sst'].shift(-1)
    df['W3'] = df['sst'].shift(-2)
    df['W4'] = df['sst'].shift(-3)
    df['Strong_Nino'] = df['Preceeding'].apply(lambda x: 1 if x > 1.5 else 0)
    
    conditions = [
        (df['W1'] < -0.5) & (df['W2'] < -0.5) & (df['W3'] < -0.5)  & (df['W4'] < -0.5),  # 4th 
        (df['W1'] < -0.5) & (df['W2'] < -0.5) & (df['W3'] < -0.5),  # Triple-dip
        (df['W1'] < -0.5) & (df['W2'] < -0.5),  # Double-dip
        (df['W1'] < -0.5),  # Single La Niña
        (df['W1'] >= -0.5)
    ]
    classifications = ['4More','TLN', 'DLN', 'SLN','None']
    
    df['Classification'] = np.select(conditions, classifications, default='None')

    df['Classification'] = df['Classification'].where(~df['Classification'].shift(1).isin(['4More','TLN', 'DLN']), 'None')
    df['Classification'] = df['Classification'].where(~df['Classification'].shift(2).isin(['TLN','DLN']), 'None')
    df['Classification'] = df['Classification'].where(~df['Classification'].shift(3).isin(['TLN']), 'None')

    df['New_Class'] = np.where(df['Classification'].isin(['4More','TLN', 'DLN']), np.where(df['Strong_Nino'] == 1, 'MLN_wSEN', 'MLN_woSEN'), df['Classification'])
    
    dff=df.drop(['time', 'sst','Strong_Nino'], axis=1)
    dff= df[['Year', 'Source',	'Preceeding',	'W1',	'W2',	'W3',	'W4',	'Classification',	'New_Class']]

    return dff

In [31]:
def class_events_NDJ(ds,name,y0):
    # It is mainly used with experiments, but we apply it to HadISST first due to the file’s structure. 
    # So, for that specific file, we just comment or uncomment the indicated lines as needed.
    
    std_dev = ds.std() # Comment this when running HaddIST
    norm_index34_NDJ = np.round(ds/std_dev,2) # Comment this when running HaddIST
    #norm_index34_NDJ = ds # Unccomment this when running HaddIST
    df=norm_index34_NDJ.to_dataframe().reset_index().set_axis(['Year','sst'], axis=1)

    df['Year'] = df['Year'] + y0
    df['Source'] = name
    df['Preceeding'] = df['sst'].shift(1)
    df['W1'] = df['sst'].shift(0)
    df['W2'] = df['sst'].shift(-1)
    df['W3'] = df['sst'].shift(-2)
    df['W4'] = df['sst'].shift(-3)
    df['Strong_Nino'] = df['Preceeding'].apply(lambda x: 1 if x > 1.5 else 0)
    
    conditions = [
        (df['W1'] < -0.5) & (df['W2'] < -0.5) & (df['W3'] < -0.5)  & (df['W4'] < -0.5),  # 4th or more
        (df['W1'] < -0.5) & (df['W2'] < -0.5) & (df['W3'] < -0.5),  # Triple-dip
        (df['W1'] < -0.5) & (df['W2'] < -0.5),  # Double-dip
        (df['W1'] < -0.5),  # Single La Niña
        (df['W1'] >= -0.5) #None classification
    ]
    classifications = ['4More','TLN', 'DLN', 'SLN','None']
    
    df['Classification'] = np.select(conditions, classifications, default='None')

    df['Classification'] = df['Classification'].where(~df['Classification'].shift(1).isin(['4More','TLN', 'DLN']), 'None')
    df['Classification'] = df['Classification'].where(~df['Classification'].shift(2).isin(['TLN','DLN']), 'None')
    df['Classification'] = df['Classification'].where(~df['Classification'].shift(3).isin(['TLN']), 'None')

    df['New_Class'] = np.where(df['Classification'].isin(['4More','TLN', 'DLN']), np.where(df['Strong_Nino'] == 1, 'MLN_wSEN', 'MLN_woSEN'), df['Classification'])
    
    dff=df.drop(['sst','Strong_Nino'], axis=1)

    return dff

In [14]:
df_cesm2=class_events_NDJ34(ds_cesm2,'CESM2_HISTORICAL') # ['Classification'].value_counts() 
df_cesm2[df_cesm2['Classification'] != 'None'].sort_values(by=['New_Class','Year'], ascending=True)

,Year,Source,Preceeding,W1,W2,W3,W4,Classification,New_Class
1,1851,CESM2_HISTORICAL,1.810366,-2.686892,-0.523544,0.395515,-2.838172,DLN,MLN_wSEN
31,1881,CESM2_HISTORICAL,2.277988,-3.799647,-0.708805,-0.144477,1.215633,DLN,MLN_wSEN
61,1911,CESM2_HISTORICAL,3.391869,-1.438061,-2.063233,-0.308305,-2.565978,DLN,MLN_wSEN
96,1946,CESM2_HISTORICAL,3.123427,-2.795158,-2.874041,-0.102816,0.383087,DLN,MLN_wSEN
144,1994,CESM2_HISTORICAL,3.205486,-2.879098,-0.928663,1.210371,1.684899,DLN,MLN_wSEN
148,1998,CESM2_HISTORICAL,1.684899,-1.468479,-0.616851,2.110635,1.818845,DLN,MLN_wSEN
157,2007,CESM2_HISTORICAL,3.539327,-1.534150,-1.375072,1.864998,-0.453957,DLN,MLN_wSEN
18,1868,CESM2_HISTORICAL,0.008365,-0.881286,-0.901037,-1.727031,1.217350,TLN,MLN_woSEN
25,1875,CESM2_HISTORICAL,0.073506,-0.537982,-0.861539,-0.658083,0.715141,TLN,MLN_woSEN
35,1885,CESM2_HISTORICAL,1.215633,-1.821068,-1.330337,1.302586,-3.290705,DLN,MLN_woSEN
38,1888,CESM2_HISTORICAL,1.302586,-3.290705,-0.990700,-0.533645,0.004277,TLN,MLN_woSEN
42,1892,CESM2_HISTORICAL,0.004277,-1.880337,-1.203049,0.083368,-2.049884,DLN,MLN_woSEN
64,1914,CESM2_HISTORICAL,-0.308305,-2.565978,-1.365112,-0.340518,-0.492535,DLN,MLN_woSEN
69,1919,CESM2_HISTORICAL,0.496097,-0.914086,-1.202183,0.668328,-1.765816,DLN,MLN_woSEN
75,1925,CESM2_HISTORICAL,1.391918,-1.690339,-1.477172,0.712726,1.107100,DLN,MLN_woSEN
4,1854,CESM2_HISTORICAL,0.395515,-2.838172,-0.308237,-0.224113,0.348966,SLN,SLN
10,1860,CESM2_HISTORICAL,1.952325,-1.987301,0.551920,2.506113,1.443131,SLN,SLN
14,1864,CESM2_HISTORICAL,1.443131,-1.442486,-0.013360,-0.827579,0.008365,SLN,SLN
16,1866,CESM2_HISTORICAL,-0.013360,-0.827579,0.008365,-0.881286,-0.901037,SLN,SLN
23,1873,CESM2_HISTORICAL,2.530091,-2.816422,0.073506,-0.537982,-0.861539,SLN,SLN
29,1879,CESM2_HISTORICAL,0.715141,-0.581801,2.277988,-3.799647,-0.708805,SLN,SLN
45,1895,CESM2_HISTORICAL,0.083368,-2.049884,-0.275534,-1.436366,0.125286,SLN,SLN
47,1897,CESM2_HISTORICAL,-0.275534,-1.436366,0.125286,-1.042356,0.324583,SLN,SLN
49,1899,CESM2_HISTORICAL,0.125286,-1.042356,0.324583,0.440017,-0.095096,SLN,SLN
54,1904,CESM2_HISTORICAL,2.849191,-1.855145,0.986539,-1.457601,1.187890,SLN,SLN
56,1906,CESM2_HISTORICAL,0.986539,-1.457601,1.187890,-1.545834,0.001234,SLN,SLN
58,1908,CESM2_HISTORICAL,1.187890,-1.545834,0.001234,3.391869,-1.438061,SLN,SLN
72,1922,CESM2_HISTORICAL,0.668328,-1.765816,0.249380,1.391918,-1.690339,SLN,SLN
80,1930,CESM2_HISTORICAL,1.690163,-2.450596,-0.336445,0.882753,1.271642,SLN,SLN
88,1938,CESM2_HISTORICAL,0.590333,-2.254260,0.963295,-0.868228,0.777686,SLN,SLN
90,1940,CESM2_HISTORICAL,0.963295,-0.868228,0.777686,1.263361,-0.159313,SLN,SLN
100,1950,CESM2_HISTORICAL,0.383087,-2.122956,0.097709,2.366211,-1.810215,SLN,SLN
103,1953,CESM2_HISTORICAL,2.366211,-1.810215,0.344865,0.822234,0.920913,SLN,SLN
107,1957,CESM2_HISTORICAL,0.920913,-0.903188,3.399018,-1.228537,0.134421,SLN,SLN
109,1959,CESM2_HISTORICAL,3.399018,-1.228537,0.134421,0.887940,-0.088066,SLN,SLN
115,1965,CESM2_HISTORICAL,2.106768,-1.576578,-0.472201,1.388625,-2.882865,SLN,SLN
118,1968,CESM2_HISTORICAL,1.388625,-2.882865,-0.397740,2.088961,1.994058,SLN,SLN
122,1972,CESM2_HISTORICAL,1.994058,-2.404887,-0.043448,-0.811713,0.945553,SLN,SLN
124,1974,CESM2_HISTORICAL,-0.043448,-0.811713,0.945553,2.117465,-0.693234,SLN,SLN
127,1977,CESM2_HISTORICAL,2.117465,-0.693234,1.493281,1.065840,-1.014056,SLN,SLN
130,1980,CESM2_HISTORICAL,1.065840,-1.014056,0.628553,2.745656,-0.600589,SLN,SLN
133,1983,CESM2_HISTORICAL,2.745656,-0.600589,0.759113,-0.092585,2.024771,SLN,SLN
138,1988,CESM2_HISTORICAL,1.714490,-1.133039,0.492951,2.634991,-1.040624,SLN,SLN
141,1991,CESM2_HISTORICAL,2.634991,-1.040624,1.255559,3.205486,-2.879098,SLN,SLN
152,2002,CESM2_HISTORICAL,1.818845,-0.583086,1.110079,-1.138303,0.651443,SLN,SLN
154,2004,CESM2_HISTORICAL,1.110079,-1.138303,0.651443,3.539327,-1.534150,SLN,SLN
163,2013,CESM2_HISTORICAL,3.682019,-1.552467,NaN,NaN,NaN,SLN,SLN

In [15]:
df_gfdl=class_events_NDJ34(ds_gfdl,'FLOR_HISTORICAL') # ['Classification'].value_counts() 
df_gfdl[df_gfdl['Classification'] != 'None'].sort_values(by=['New_Class','Year'], ascending=True)

,Year,Source,Preceeding,W1,W2,W3,W4,Classification,New_Class
54,1904,FLOR_HISTORICAL,1.957600,-1.439277,-0.514109,1.134378,-1.169970,DLN,MLN_wSEN
94,1944,FLOR_HISTORICAL,1.539379,-0.611057,-1.717480,0.242264,-0.425776,DLN,MLN_wSEN
5,1855,FLOR_HISTORICAL,1.495825,-1.256429,-1.555785,-0.347773,0.227919,DLN,MLN_woSEN
12,1862,FLOR_HISTORICAL,0.428305,-0.558920,-1.929816,-0.630102,1.061330,TLN,MLN_woSEN
23,1873,FLOR_HISTORICAL,1.295327,-2.225115,-1.104255,1.071744,0.611872,DLN,MLN_woSEN
27,1877,FLOR_HISTORICAL,0.611872,-1.447263,-0.871567,-1.195083,-0.406631,TLN,MLN_woSEN
32,1882,FLOR_HISTORICAL,-0.145274,-1.225247,-0.929296,0.505994,-1.162493,DLN,MLN_woSEN
37,1887,FLOR_HISTORICAL,0.166112,-0.670750,-0.621338,-1.450896,0.876281,TLN,MLN_woSEN
42,1892,FLOR_HISTORICAL,0.262110,-0.732923,-0.770205,0.010101,0.776534,DLN,MLN_woSEN
47,1897,FLOR_HISTORICAL,-0.264075,-0.721361,-1.827494,-1.046347,1.325933,TLN,MLN_woSEN
59,1909,FLOR_HISTORICAL,-0.454169,-1.600345,-0.699281,1.080093,-0.461346,DLN,MLN_woSEN
70,1920,FLOR_HISTORICAL,0.669754,-1.126760,-1.592735,-0.120402,1.269096,DLN,MLN_woSEN
87,1937,FLOR_HISTORICAL,0.207996,-0.704490,-0.554036,0.232554,0.841820,DLN,MLN_woSEN
0,1850,FLOR_HISTORICAL,NaN,-0.506772,1.328949,-1.262248,0.290510,SLN,SLN
2,1852,FLOR_HISTORICAL,1.328949,-1.262248,0.290510,1.495825,-1.256429,SLN,SLN
10,1860,FLOR_HISTORICAL,-0.290810,-0.642590,0.428305,-0.558920,-1.929816,SLN,SLN
35,1885,FLOR_HISTORICAL,0.505994,-1.162493,0.166112,-0.670750,-0.621338,SLN,SLN
57,1907,FLOR_HISTORICAL,1.134378,-1.169970,-0.454169,-1.600345,-0.699281,SLN,SLN
67,1917,FLOR_HISTORICAL,-0.334601,-1.653161,0.065800,0.669754,-1.126760,SLN,SLN
74,1924,FLOR_HISTORICAL,1.269096,-1.462452,0.471422,-0.650925,0.841159,SLN,SLN
76,1926,FLOR_HISTORICAL,0.471422,-0.650925,0.841159,-1.214200,-0.425226,SLN,SLN
78,1928,FLOR_HISTORICAL,0.841159,-1.214200,-0.425226,0.217918,0.273506,SLN,SLN
82,1932,FLOR_HISTORICAL,0.273506,-2.253181,-0.220036,0.195270,1.426248,SLN,SLN
91,1941,FLOR_HISTORICAL,0.841820,-1.443274,-0.315710,1.539379,-0.611057,SLN,SLN
99,1949,FLOR_HISTORICAL,2.798899,-0.676756,0.582099,0.724257,1.322096,SLN,SLN
103,1953,FLOR_HISTORICAL,1.322096,-1.129364,-0.021079,-0.083496,1.042661,SLN,SLN
111,1961,FLOR_HISTORICAL,0.701429,-1.966438,-0.104566,-0.132324,0.790521,SLN,SLN
115,1965,FLOR_HISTORICAL,0.790521,-1.361629,0.773811,-0.840508,1.009602,SLN,SLN
117,1967,FLOR_HISTORICAL,0.773811,-0.840508,1.009602,0.560822,2.261901,SLN,SLN
121,1971,FLOR_HISTORICAL,2.261901,-0.924392,-0.010016,0.915399,0.265820,SLN,SLN
127,1977,FLOR_HISTORICAL,0.451808,-1.136006,0.689398,2.332542,-2.055513,SLN,SLN
130,1980,FLOR_HISTORICAL,2.332542,-2.055513,-0.218023,1.333591,0.610758,SLN,SLN
134,1984,FLOR_HISTORICAL,0.610758,-0.815290,-0.340043,3.252617,-0.538343,SLN,SLN
137,1987,FLOR_HISTORICAL,3.252617,-0.538343,-0.236462,0.914660,0.192496,SLN,SLN
143,1993,FLOR_HISTORICAL,2.387292,-1.376828,0.832266,-1.520007,1.172218,SLN,SLN
145,1995,FLOR_HISTORICAL,0.832266,-1.520007,1.172218,-0.482971,-0.853852,SLN,SLN
148,1998,FLOR_HISTORICAL,-0.482971,-0.853852,0.059576,2.381655,-0.007009,SLN,SLN
158,2008,FLOR_HISTORICAL,1.539143,-1.892244,-0.154750,1.146010,1.485299,SLN,SLN

In [30]:
df_had=class_events_NDJ(ds_had,'HaddIST',1870) # ['Classification'].value_counts() 
df_had[df_had['Classification'] != 'None'].sort_values(by=['New_Class','Year'], ascending=True)

,Year,Source,Preceeding,W1,W2,W3,W4,Classification,New_Class
8,1878,HaddIST,2.351551,-0.581336,-0.971355,0.299351,-0.402136,DLN,MLN_wSEN
19,1889,HaddIST,1.982177,-1.509224,-0.663105,-0.085665,-1.272381,DLN,MLN_wSEN
103,1973,HaddIST,1.900103,-1.968743,-0.655389,-1.549831,0.832636,TLN,MLN_wSEN
113,1983,HaddIST,2.286226,-0.816934,-1.092492,-0.451859,1.109453,DLN,MLN_wSEN
128,1998,HaddIST,2.389381,-1.283199,-1.473721,-0.747347,-0.226104,TLN,MLN_wSEN
140,2010,HaddIST,1.602163,-1.531679,-0.931188,0.012701,-0.093139,DLN,MLN_wSEN
2,1872,HaddIST,-0.460521,-0.755690,-0.739974,-0.982338,-0.706434,4More,MLN_woSEN
22,1892,HaddIST,-0.085665,-1.272381,-1.053600,-0.638758,0.411433,TLN,MLN_woSEN
38,1908,HaddIST,-0.137629,-0.701356,-1.098720,-0.511287,1.155760,TLN,MLN_woSEN
46,1916,HaddIST,-0.104311,-1.560978,-0.602681,1.408472,0.264874,DLN,MLN_woSEN
79,1949,HaddIST,-0.067083,-1.099389,-1.097990,0.673855,-0.098690,DLN,MLN_woSEN
84,1954,HaddIST,0.330981,-0.809400,-1.469816,-0.642960,1.288769,TLN,MLN_woSEN
100,1970,HaddIST,0.709757,-1.064438,-0.715875,1.900103,-1.968743,DLN,MLN_woSEN
137,2007,HaddIST,0.935267,-1.539788,-0.657970,1.602163,-1.531679,DLN,MLN_woSEN
150,2020,HaddIST,0.692206,-0.907708,-0.808953,-0.708818,1.875475,TLN,MLN_woSEN
0,1870,HaddIST,NaN,-0.539551,-0.460521,-0.755690,-0.739974,SLN,SLN
12,1882,HaddIST,-0.402136,-0.632363,-0.102257,0.318320,0.715398,SLN,SLN
16,1886,HaddIST,0.715398,-1.075315,0.166304,1.982177,-1.509224,SLN,SLN
28,1898,HaddIST,-0.430829,-0.649206,1.434699,0.577712,-0.335071,SLN,SLN
33,1903,HaddIST,1.452629,-0.761631,0.621473,1.014906,-0.404158,SLN,SLN
51,1921,HaddIST,0.168393,-0.615294,-0.351405,0.816287,-0.849467,SLN,SLN
54,1924,HaddIST,0.816287,-0.849467,1.403031,-0.055312,0.287788,SLN,SLN
63,1933,HaddIST,-0.153323,-0.984562,-0.154629,0.382157,0.165726,SLN,SLN
68,1938,HaddIST,0.141309,-0.652801,0.579183,1.204879,1.076425,SLN,SLN
72,1942,HaddIST,1.076425,-1.226049,-0.370470,-0.245856,-0.398169,SLN,SLN
94,1964,HaddIST,0.888655,-0.835176,1.408189,-0.309721,-0.366813,SLN,SLN
118,1988,HaddIST,1.076806,-1.900198,-0.064441,0.361930,1.468863,SLN,SLN
125,1995,HaddIST,1.178334,-0.614499,-0.304925,2.389381,-1.283199,SLN,SLN
135,2005,HaddIST,0.685573,-0.635970,0.935267,-1.539788,-0.657970,SLN,SLN
147,2017,HaddIST,-0.378677,-0.738678,0.875744,0.692206,-0.907708,SLN,SLN

In [17]:
df_cesmc=class_events_NDJ(dscesmc_NDJ,'CESM2_CTRL',0) # ['Classification'].value_counts() 
df_cesmc[df_cesmc['Classification'] != 'None'].sort_values(by=['New_Class','Year'], ascending=True)

,Year,Source,Preceeding,W1,W2,W3,W4,Classification,New_Class
7,7,CESM2_CTRL,1.91,-1.15,-1.18,-1.47,-0.37,TLN,MLN_wSEN
78,78,CESM2_CTRL,2.21,-1.05,-1.20,-1.56,-1.51,4More,MLN_wSEN
140,140,CESM2_CTRL,1.81,-2.68,-1.64,0.30,-1.09,DLN,MLN_wSEN
160,160,CESM2_CTRL,2.59,-2.35,-0.53,0.05,-1.48,DLN,MLN_wSEN
202,202,CESM2_CTRL,2.96,-1.64,-0.75,0.81,1.90,DLN,MLN_wSEN
...,...,...,...,...,...,...,...,...,...
1968,1968,CESM2_CTRL,2.24,-2.37,-0.32,0.59,2.03,SLN,SLN
1972,1972,CESM2_CTRL,2.03,-0.74,0.37,0.44,-0.12,SLN,SLN
1985,1985,CESM2_CTRL,-0.50,-0.99,0.30,1.09,0.83,SLN,SLN
1991,1991,CESM2_CTRL,1.34,-1.41,-0.31,0.10,-1.20,SLN,SLN
1994,1994,CESM2_CTRL,0.10,-1.20,-0.05,0.48,2.59,SLN,SLN

In [18]:
df_zc=class_events_NDJ(ds_ZC,'ZC',0) # ['Classification'].value_counts() 
df_zc[df_zc['Classification'] != 'None'].sort_values(by=['New_Class','Year'], ascending=True)

     Year Source  Preceeding    W1    W2    W3    W4 Classification New_Class
8       8     ZC        2.07 -1.36 -1.02  0.56  2.54            DLN  MLN_wSEN
12     12     ZC        2.54 -2.03 -0.52  1.84 -1.70            DLN  MLN_wSEN
18     18     ZC        2.45 -1.61 -0.55  0.88  2.64            DLN  MLN_wSEN
22     22     ZC        2.64 -1.51 -0.89  0.42  1.01            DLN  MLN_wSEN
189   189     ZC        1.97 -1.07 -0.76  0.59  2.69            DLN  MLN_wSEN
..    ...    ...         ...   ...   ...   ...   ...            ...       ...
933   933     ZC        0.28 -0.60  0.91 -0.51 -0.75            SLN       SLN
953   953     ZC        0.58 -1.28 -0.44  1.62  2.62            SLN       SLN
962   962     ZC        0.93 -1.13 -0.44 -0.47  1.67            SLN       SLN
967   967     ZC       -0.35 -1.06  0.60  2.73 -2.06            SLN       SLN
986   986     ZC       -0.22 -0.58  0.63  1.86 -1.04            SLN       SLN

[217 rows x 9 columns]

In [19]:
df_inc=class_events_NDJ(ds_INC,'INC',0) # ['Classification'].value_counts() 
df_inc[df_inc['Classification'] != 'None'].sort_values(by=['New_Class','Year'], ascending=True)

      Year Source  Preceeding    W1    W2    W3    W4 Classification New_Class
141    141    INC        3.26 -1.38 -0.51 -0.33 -0.28            DLN  MLN_wSEN
222    222    INC        2.14 -1.27 -0.51 -0.31 -0.21            DLN  MLN_wSEN
239    239    INC        1.84 -1.08 -0.55 -0.32 -0.04            DLN  MLN_wSEN
356    356    INC        2.67 -1.13 -0.56 -0.35 -0.22            DLN  MLN_wSEN
381    381    INC        1.59 -0.94 -0.56 -0.31  0.07            DLN  MLN_wSEN
...    ...    ...         ...   ...   ...   ...   ...            ...       ...
3078  3078    INC        0.94 -0.99 -0.41  0.24  2.31            SLN       SLN
3082  3082    INC        2.31 -1.42 -0.47 -0.29 -0.22            SLN       SLN
3091  3091    INC        0.93 -0.93 -0.48 -0.11  0.91            SLN       SLN
3095  3095    INC        0.91 -0.95 -0.45 -0.01  1.38            SLN       SLN
3099  3099    INC        1.38 -1.19   NaN   NaN   NaN            SLN       SLN

[659 rows x 9 columns]

In [20]:
df_xro=class_events_NDJ(ds_xroNDJ,'XRO',0) # ['Classification'].value_counts() 
df_xro[df_xro['Classification'] != 'None'].sort_values(by=['New_Class','Year'], ascending=True)

      Year Source  Preceeding    W1    W2    W3    W4 Classification New_Class
19      19    XRO        2.80 -0.82 -1.42 -0.30 -0.16            DLN  MLN_wSEN
119    119    XRO        3.11 -1.58 -0.60  0.90 -0.19            DLN  MLN_wSEN
161    161    XRO        1.52 -0.94 -1.01 -0.18  0.23            DLN  MLN_wSEN
276    276    XRO        2.28 -0.79 -0.98  0.38 -0.81            DLN  MLN_wSEN
339    339    XRO        3.92 -0.82 -0.90  2.29  0.24            DLN  MLN_wSEN
...    ...    ...         ...   ...   ...   ...   ...            ...       ...
6575  6575    XRO        0.87 -1.21  0.86 -0.80 -1.53            SLN       SLN
6584  6584    XRO        0.81 -1.11  0.28 -0.97  0.36            SLN       SLN
6586  6586    XRO        0.28 -0.97  0.36 -0.83  2.16            SLN       SLN
6588  6588    XRO        0.36 -0.83  2.16  0.06 -1.43            SLN       SLN
6591  6591    XRO        0.06 -1.43  0.27 -1.11 -0.68            SLN       SLN

[1474 rows x 9 columns]

In [21]:
df_xroc=class_events_NDJ(ds_xrocNDJ,'XRO_CTRL',0) # ['Classification'].value_counts() 
df_xroc[df_xroc['Classification'] != 'None'].sort_values(by=['New_Class','Year'], ascending=True)

,Year,Source,Preceeding,W1,W2,W3,W4,Classification,New_Class
63,63,XRO_CTRL,3.78,-0.83,-0.86,1.11,0.65,DLN,MLN_wSEN
242,242,XRO_CTRL,2.00,-0.62,-0.82,1.71,-1.30,DLN,MLN_wSEN
313,313,XRO_CTRL,1.63,-1.17,-0.95,-1.19,0.36,TLN,MLN_wSEN
331,331,XRO_CTRL,1.70,-1.34,-0.75,0.37,-0.61,DLN,MLN_wSEN
361,361,XRO_CTRL,3.94,-1.09,-1.08,0.43,0.53,DLN,MLN_wSEN
...,...,...,...,...,...,...,...,...,...
6572,6572,XRO_CTRL,2.55,-1.27,-0.12,-0.87,0.34,SLN,SLN
6574,6574,XRO_CTRL,-0.12,-0.87,0.34,-0.34,-0.77,SLN,SLN
6577,6577,XRO_CTRL,-0.34,-0.77,1.43,2.67,-0.08,SLN,SLN
6581,6581,XRO_CTRL,-0.08,-1.06,0.47,-0.14,-0.27,SLN,SLN
6589,6589,XRO_CTRL,0.15,-0.51,1.37,-1.68,-0.99,SLN,SLN

In [22]:
df_xrocT301=class_events_NDJ(ds_xrocT301NDJ,'XRO_T301',0) # ['Classification'].value_counts() 
df_xrocT301[df_xrocT301['Classification'] != 'None'].sort_values(by=['New_Class','Year'], ascending=True)

,Year,Source,Preceeding,W1,W2,W3,W4,Classification,New_Class
63,63,XRO_T301,3.04,-0.56,-0.74,1.11,0.68,DLN,MLN_wSEN
242,242,XRO_T301,1.87,-0.56,-0.85,1.75,-1.37,DLN,MLN_wSEN
313,313,XRO_T301,1.73,-1.23,-1.01,-1.26,0.33,TLN,MLN_wSEN
331,331,XRO_T301,1.70,-1.41,-0.80,0.39,-0.69,DLN,MLN_wSEN
361,361,XRO_T301,3.32,-0.79,-1.06,0.45,0.53,DLN,MLN_wSEN
...,...,...,...,...,...,...,...,...,...
6572,6572,XRO_T301,2.28,-1.12,-0.01,-1.01,0.31,SLN,SLN
6574,6574,XRO_T301,-0.01,-1.01,0.31,-0.36,-0.81,SLN,SLN
6577,6577,XRO_T301,-0.36,-0.81,1.50,2.54,0.26,SLN,SLN
6581,6581,XRO_T301,0.26,-1.08,0.37,-0.14,-0.26,SLN,SLN
6589,6589,XRO_T301,0.18,-0.57,1.36,-1.73,-1.03,SLN,SLN

In [23]:
df_nro=class_events_NDJ(ds_nroNDJ,'NRO',0) # ['Classification'].value_counts() 
df_nro[df_nro['Classification'] != 'None'].sort_values(by=['New_Class','Year'], ascending=True)

      Year Source  Preceeding    W1    W2    W3    W4 Classification New_Class
1        1    NRO        1.94 -0.90 -1.61  0.09 -1.51            DLN  MLN_wSEN
38      38    NRO        2.13 -1.19 -0.96  0.29  1.27            DLN  MLN_wSEN
183    183    NRO        1.84 -1.28 -1.66  1.98 -0.47            DLN  MLN_wSEN
262    262    NRO        2.52 -1.05 -1.01  0.66  0.03            DLN  MLN_wSEN
346    346    NRO        1.87 -1.44 -1.96 -0.33  2.84            DLN  MLN_wSEN
...    ...    ...         ...   ...   ...   ...   ...            ...       ...
6564  6564    NRO       -0.48 -1.36  1.71 -0.37  0.65            SLN       SLN
6573  6573    NRO        1.43 -1.08  0.84 -1.01 -1.42            SLN       SLN
6586  6586    NRO       -0.29 -0.69 -0.49  2.19  0.37            SLN       SLN
6590  6590    NRO        0.37 -0.77  0.83  0.50  0.13            SLN       SLN
6598  6598    NRO        0.19 -1.40   NaN   NaN   NaN            SLN       SLN

[1590 rows x 9 columns]

In [24]:
df_flor=class_events_NDJ(ds_FLOR,'FLOR_CTRL',0) # ['Classification'].value_counts() 
df_flor[df_flor['Classification'] != 'None'].sort_values(by=['New_Class','Year'], ascending=True)

,Year,Source,Preceeding,W1,W2,W3,W4,Classification,New_Class
125,125,FLOR_CTRL,2.37,-2.24,-0.99,0.30,-2.25,DLN,MLN_wSEN
181,181,FLOR_CTRL,1.86,-1.00,-0.61,1.34,-1.74,DLN,MLN_wSEN
211,211,FLOR_CTRL,2.44,-2.55,-0.61,1.14,-0.68,DLN,MLN_wSEN
621,621,FLOR_CTRL,2.03,-2.12,-1.54,-0.24,1.88,DLN,MLN_wSEN
688,688,FLOR_CTRL,2.71,-0.54,-0.91,-0.07,-0.82,DLN,MLN_wSEN
...,...,...,...,...,...,...,...,...,...
3478,3478,FLOR_CTRL,1.87,-1.31,-0.06,2.43,-2.60,SLN,SLN
3481,3481,FLOR_CTRL,2.43,-2.60,0.12,0.30,0.28,SLN,SLN
3487,3487,FLOR_CTRL,0.40,-0.94,0.10,1.14,-1.56,SLN,SLN
3490,3490,FLOR_CTRL,1.14,-1.56,-0.24,1.27,0.01,SLN,SLN
3498,3498,FLOR_CTRL,0.68,-0.76,NaN,NaN,NaN,SLN,SLN

In [34]:
DF = pd.concat([df_cesm2,df_gfdl,df_had,df_inc,df_xro,df_zc,df_flor,df_cesmc,df_nro,df_xroc,df_xrocT301], axis=0, ignore_index=True)

In [35]:
DF

,Year,Source,Preceeding,W1,W2,W3,W4,Classification,New_Class
0,1850,CESM2_HISTORICAL,NaN,1.810366,-2.686892,-0.523544,0.395515,None,None
1,1851,CESM2_HISTORICAL,1.810366,-2.686892,-0.523544,0.395515,-2.838172,DLN,MLN_wSEN
2,1852,CESM2_HISTORICAL,-2.686892,-0.523544,0.395515,-2.838172,-0.308237,None,None
3,1853,CESM2_HISTORICAL,-0.523544,0.395515,-2.838172,-0.308237,-0.224113,None,None
4,1854,CESM2_HISTORICAL,0.395515,-2.838172,-0.308237,-0.224113,0.348966,SLN,SLN
...,...,...,...,...,...,...,...,...,...
36477,6595,XRO_T301,1.630000,0.110000,1.020000,0.570000,0.340000,None,None
36478,6596,XRO_T301,0.110000,1.020000,0.570000,0.340000,NaN,None,None
36479,6597,XRO_T301,1.020000,0.570000,0.340000,NaN,NaN,None,None
36480,6598,XRO_T301,0.570000,0.340000,NaN,NaN,NaN,None,None
36481,6599,XRO_T301,0.340000,NaN,NaN,NaN,NaN,None,None

In [37]:
DF.to_csv('test.csv')

In [28]:
df_had['Classification'].value_counts()

Classification
None     124
SLN       15
DLN        8
TLN        6
4More      1
Name: count, dtype: int64